<div class='item'>
  <div class='avatar'>
    <%= image_tag item.user.avatars.small %>
  </div>
  <div class='content'>
    <div class='title'><i class='fa fa-user'></i><%=item.user.login %> 多少点发的</div>
    <div class='bottom'>
      <%= item.content %>
    </div>
  </div>
</div>
