<div class='item'>
  <div class='avatar'>
    <a href="<%=member_path(item.user.login) %>"><%= image_tag item.user.avatars.small %></a>
  </div>
  <div class='content'>
    <div class='title'><i class='fa fa-user'></i><%=link_to item.user.login, member_path(item.user.login) %></div>
    <div class='bottom'>
      <%= item.content %>
    </div>
  </div>
</div>
