<div class='item'>
  <div class='avatar'>
    <%= image_tag project.owner.avatars %>
  </div>
  <div class='content'>
    <div class='title'><%=link_to project.name, project_path(project) %></div>
    <div class='bottom'>
      <span>
        <i class='fa fa-user'></i>
        <span><%=project.owner.login %></span>
      </span>
      <span>
        最后由 <a href='javascript:void(0)'>李四</a> 于 6 小时前回复
      </span>              
    </div>
    <div class='total'>
      <span class="badge badge-success">4</span>
    </div>
  </div>
</div>
