<% set_navbar_active :member %>
<% content_for :js do  %>
  <%= javascript_include_tag 'project', 'data-turbolinks-track' => true %>
<% end %>
<div class='col-xs-8 col-xs-offset-2 new_project_wrap'>
  <%= render "form" %>
</div>
<script type='text/javascript'> 
  cache_key = <%=raw cache_keys.to_json %>
</script>