//= require fileuploader
//= require home
//= require members
//= require users
//= require jquery.validation

@import "bootstrap_and_overrides";
@import 'project';

body {
  padding-top: 70px;
  .flash-message {
    padding: 15px;
    display: none;
  }
}
