//= require fileuploader
//= require home
//= require members
//= require users
//= require jquery.validation

@import "bootstrap_and_overrides";
@import 'project';
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  padding-top: 70px;
  .flash-message {
    padding: 15px;
    display: none;
  }
}

.error-msg{
  color: red;
  font-size: 12px;
  display: none;
}


.timeago{
  font-size: 12px;
}