.items {

  > .item {
    position: relative;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 12px;
    border-bottom: 1px solid #ddd;
    padding-left: 8px;

    .avatar {
      position: absolute;
      top: 0px;
      left: 8px;

      img {
        width: 48px;
        height: 48px;
      }
    }

    .content {
      margin-left: 55px;
      margin-right: 25px;

      .total {
        position: absolute;
        top: 12px;
        right: 8px;
      }

      .bottom {
        margin-top: 6px;
      }
    }
  }

  > .item:last-child {
    border-bottom: none;
  }
}

.new_project_wrap {
  margin-bottom: 10px;
  form {

    textarea.content {
      width: 100%;
      height: 200px;
    }

    textarea.description{
      height: 353px;
      width: 730px; 
    }

    .has-error{
      .description{
        .edui-default.edui-editor{
          border-color: #a94442;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        }  
      }
    }
    

    input.name {
      width: 100%;
    }

    .wrap_budget{
      width: 50%;

      .btn_bar{
        .content{
          margin-right: 5px;
        }

      }

      .btn_bar[data-selected='u']{
        .unit{
          display: none;
        }
      }


    }

    .categories{

      .children{
        margin-top: 10px;
        margin-left: 40px;
        display: none;
      }
    }

    .attachments{
      table.hide{
        display: none;
      }
    }

    .file_upload{
      position: relative;
      display: inline-block;
      overflow: hidden;
    }

    .file_upload .qq{
      position: absolute;
      top: 1px;
      right: 1px;
      z-index: 500;

      .qq-upload-list {
        display: none;
      }

      .qq-upload-button {
        background: none;
        border: none;
        height: 32px;
        width: 93px;
      }

      .qq-uploader {
        input[type=file] {
          height: 32px;
          width: 93px;
        }
      }

    }

        
        

  }
}


.project_info{
  .info{
    &>.panel-heading{
      h4{
        font-size: 16px;
        margin: 0px;
      }
    }

    .body{
      padding: 10px 8px;

      .budget_icon{
        margin: 3px;
      }
    }
  }

  .body{
    .content{
      width: 100%;
      max-width: 100%
    }
  }

  .comments{
    
    &>.panel-heading{
      margin-bottom: 10px;

      h4{
        color: gray;
        font-size: 14px;
        margin: 0px;
      }
    }

    .item{

      .title{
        .fa-user{
          margin-right: 5px;
        }
      }
    }
  }
}


.no_comments{
  font-size: 13px;
  color: gray;
  text-align: center;
}