.items {

  > .item {
    position: relative;
    height: 62px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
    padding-left: 5px;

    .avatar {
      position: absolute;
      top: 0px;
      left: 5px;

      img {
        width: 48px;
        height: 48px;
      }
    }

    .content {
      margin-left: 55px;
      margin-right: 25px;

      .total {
        position: absolute;
        top: 12px;
        right: 8px;
      }

      .bottom {
        margin-top: 5px;
      }
    }
  }

  > .item:last-child {
    border-bottom: none;
  }
}

.new_project_wrap {
  margin-bottom: 10px;
  form {

    textarea.content {
      width: 100%;
      height: 200px;
    }

    textarea.description{
      height: 353px;
      width: 730px; 
    }

    input.name {
      width: 100%;
    }

    .wrap_budget{
      width: 50%;

      .btn_bar{
        .content{
          margin-right: 5px;
        }

      }

      .btn_bar[data-selected='u']{
        .unit{
          display: none;
        }
      }


    }

    .categories{

      .children{
        margin-top: 10px;
        margin-left: 40px;
        display: none;
      }
    }

    // .tab-content {
    //   .fixed_price, .hours_price {
    //     margin-top: 15px;
    //   }

    //   .fixed_price .input-group, .hours_price .bar {
    //     width: 50%;
    //   }

    //   .hours_price{
    //     .wrap{
    //       position: relative;

    //       .btn_add{
    //         position: absolute;
    //         top: 0px;
    //         left: 53%;
    //       }

    //       .content{
    //         margin-right: 5px;
    //       }
    //     }

    //     table{
    //       width: 50%;

    //       &.hide{
    //         display: none;
    //       }

    //       td.operation{
    //         width: 9%;
    //       }

    //       td .price{
    //         margin-right: 2px;
    //       }
    //     }
    //   }
    // }

    // .nav-tabs{
    //   .chose-icon{
    //     position: absolute;
    //     top: 4px;
    //     right: 6px;
    //     display: none;
    //     font-size: 9px;
    //     color: #E43D96;
    //   }

    //   >li{
    //     a{
    //       color: rgb(178, 174, 174);
    //     }
    //   }

    //   >li.active{
    //     a{
    //       color: black;
    //     }

    //     .chose-icon{
    //       display: block;
    //     }
    //   }
    // }

    .attachments{
      table.hide{
        display: none;
      }
    }

    .file_upload{
      position: relative;
      display: inline-block;
      overflow: hidden;
    }

    .file_upload .qq{
      position: absolute;
      top: 1px;
      right: 1px;
      z-index: 500;

      .qq-upload-list {
        display: none;
      }

      .qq-upload-button {
        background: none;
        border: none;
        height: 32px;
        width: 93px;
      }

      .qq-uploader {
        input[type=file] {
          height: 32px;
          width: 93px;
        }
      }

    }

        
        

  }
}


.project_info{
  .body{
    .content{
      width: 100%;max-width: 100%
    }
  }
}