.user_panel{

  margin-top: 50px;
  margin-bottom: 50px;


  .sign_in_wrap{
    margin-bottom: 71px;


    form.sign_in{
      width: 300px;
      margin-left: auto;
      margin-right: auto;


      input[type=text], input[type=password]{
        width: 100%;
      }

      >div{
        margin-top: 8px;
      }
    }
  }



  .sign_up_wrap{
    form.sign_up{
      width: 300px;
      margin-left: auto;
      margin-right: auto;


      input[type=text], input[type=password], input[type=email]{
        width: 100%;
      }

      >div{
        margin-top: 8px;
      }
    }
  }
}