<div class="panel panel-default user_profile">
  <div class="panel-heading">个人资料</div>
  <div class="panel-body">
    <ul>
      <li>
        <label class='title'>ID</label>
        <span class='content'>zhangsan</span>
      </li>
      <li>
        <label class='title'>姓名</label>
        <span class='content'>张三</span>
      </li>
      <li>
        <label class='title'>城市</label>
        <span class='content'>广州</span>
      </li>
      <li>
        <label class='title'>注册日期</label>
        <span class='content'>2014-09-01</span>
      </li>
      <li>
        <label class='title'>好评</label>
        <span class='content'>1000</span>
      </li>
    </ul>

    <div class='avatar'>
      <img src="<%=asset_path('default_avatar.png') %>" alt='头像' />
    </div>
  </div>
</div>